.introductions
  %div
    %h3
      STEP 1

    %p
      テキストエリアを選択します。
      日本語キーボードの音声入力より、日本語を入力しましょう。
      入力が完了したらOKを押してください。

  %div
    %h3
      STEP 2

    %p
      投稿された文章は、翻訳ボタンにより日本語⇔英語に翻訳できます。
      あなたの言葉を英語に翻訳し、相手にスマートフォンを渡します。

  %div
    %h3
      STEP 3

    %p
      相手は英語を話すので、英語キーボードの音声入力より、英語を入力してもらいます。
      あとは、同じようにコミュニケーションを行ないます。

  %div
    %h3
      NOTE

    %p
      transchatは、あくまでもコミュニケーションのきっかけのひとつです。
      身振り手振りを交えて、楽しく話してみましょう。
