// -------------------------------------
// Functions
// -------------------------------------

@function whiten($color, $weight) {
  @return mix($color, #fff, 100% - $weight);
}

// -------------------------------------
// Settings
// -------------------------------------

$main_color: #e0c074;

$accent_color: #eda96f;

$base_color: whiten(mix(#000, $main_color), 10%);

// -------------------------------------
// Fonts
// -------------------------------------

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

// -------------------------------------
// Styles
// -------------------------------------

body {
  color: $base_color;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 1.5;
}

.fa-hatena {
  &:before {
    content: 'B!';
    font-family: Verdana;
    font-weight: bold;
  }
}

.header {
  overflow: hidden;
  background: linear-gradient(to bottom, darken($main_color, 20%), $main_color);
  color: #fff;
  text-align: center;

  h1 {
    margin: 40px 0 32px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 250%;
  }

  .main-visual {
    h2 {
      margin: 0 0 10px;
      font-size: 105%;
      line-height: 1.5;
    }

    p {
      opacity: .8;
      font-size: 80%;
    }

    a {
      display: inline-block;
      width: 80px;
      margin: 20px 0 30px;
      border: 1px solid #fff;
      border-radius: 100%;
      color: #fff;
      font-family: 'Cabin Sketch', cursive;
      font-size: 120%;
      line-height: 78px;
    }

    .statistics {
      margin-bottom: 40px;
      color: rgba(#fff, .8);
      font-size: 80%;
      line-height: 1;

      span {
        color: #fff;
        font-family: 'Cabin Sketch', cursive;
        font-size: 200%;
      }
    }
  }
}

.content {
  .introductions {
    div {
      overflow: hidden;
      width: 100%;
      padding: 0 0 30px;
      border-bottom: 1px solid whiten($base_color, 95%);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: calc(50% - 10px) 100%;

      &:nth-child(1) { background-image: image-url('step_1.png'); }
      &:nth-child(2) { background-image: image-url('step_2.png'); }
      &:nth-child(3) { background-image: image-url('step_3.png'); }

      h3 {
        margin: 30px 20px 20px;
        font-family: 'Cabin Sketch', cursive;
        font-size: 200%;
      }

      p {
        margin-left: 20px;
        width: calc(50% - 30px);
      }

      &.note {
        margin-bottom: 30px;

        h3 {
          text-align: center;
        }

        p {
          width: calc(100% - 40px);
          margin-right: 20px;
        }
      }
    }
  }

  .social-button {
    margin-bottom: 30px;
    text-align: center;

    a {
      display: inline-block;
      width: 36px;
      margin-right: 8px;
      padding-top: 1px;
      border-radius: 100%;
      background-color: whiten($base_color, 95%);
      color: whiten($base_color, 50%);
      line-height: 35px;
      transition: 200ms;

      &:hover {
        background-color: $main_color;
        color: #fff;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

.footer {
  margin-bottom: 40px;
  color: whiten($base_color, 50%);
  text-align: center;
}

// -------------------------------------
// Room
// -------------------------------------

.room {

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, darken($main_color, 10%), $main_color);

  h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 180%;
  }
}

.content {
  padding: 58px 0 148px;
}

.messages {
  list-style: none;
  margin: 480px 20px 20px;
  padding: 0;

  li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: whiten($base_color, 95%);
    border-radius: 2px;
  }
}

.translate {
  position: fixed;
  bottom: 68px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  padding: 0;
  border: none;
  border-bottom: 2px solid darken($accent_color, 20%);
  border-radius: 100%;
  background: $accent_color;
  color: #fff;
  font-family: 'Cabin Sketch', cursive;
  font-size: 150%;
}

.new_message {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: whiten($base_color, 85%);
  background-color: whiten($base_color, 95%);

  div {
    &.form-content {
      float: left;
      width: calc(100% - 60px);
      margin-right: 10px;

      input[type=text] {
        width: 100%;
        padding: 5px;
        border: 1px solid whiten($base_color, 85%);
        border-radius: 0;
      }
    }

    &.form-submit {
      float: right;
      width: 50px;

      input[type=submit] {
        width: 100%;
        padding: 5px;
        border: darken($main_color, 20%);
        border-radius: 0;
        background-color: $main_color;
        color: #fff;
      }
    }
  }
}

}
