!!!
%html
  %head
    = render 'layouts/head'

  %body
    .header
      %h1
        %i.fa.fa-comments-o
        transchat

      = render 'layouts/main_visual' if current_page?(root_path)

    .content
      = yield

    -# .symbol
    -#   t
